@import './../../CSS/Base.css';
@import './../../CSS/Variables.css';

/* .galery {
    display: flex;
    flex-wrap: wrap;
   
} */

/* .galery__item {
    display: flex;
} */

.galery__image {
    @media screen and (min-width: 1280px) {
        max-width: 395px;
        border-radius: 5px;
        /* margin-right: 10px; */
    }

    @media screen and (min-width: 768px) and (max-width: 1280px) {
        max-width: 344px;
        border-radius: 5px;
        /* margin-right: 10px; */
    }
}



