.Backround__image {
        background-image: linear-gradient( 86.77deg, #111111 30.38%, rgba(17, 17, 17, 0) 65.61% ), url(https://image.tmdb.org/t/p/original//1X7vow16X7CnCoexXh4H4F2yDJv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}